
.app.light {
	--bg-color: linear-gradient(90deg, #ffae69, rgba(250, 96, 2, 0.74));
	--bg-color-inverted: #000;
	--text-color: #000;
	--border-color: #000;
	--bg-active-link-color: #000;
	--link-active-text: #ffae69;
	--link-text: #000;
}
