.themeButton {
    position: fixed;
    bottom: 0;
    left: 0;
    border: 2px solid var(--bg-active-link-color);
    border-top-right-radius: 100%;
    background-color: var(--bg-active-link-color);
    color: var(--link-active-text);
    height: 35px;
    width: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 20;

    svg {
        bottom: 1px;
        left: 1px;
        height: 25px;
        width: 25px;
    }

    svg:hover {
        animation: rotate 2s ease-in-out infinite;
    }
}

.light {
    fill:  #ffae69
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
