.Search {
    width: 100%;
    display: flex;

    gap: 5px;
    flex-direction: column;
    transition: all 0.3s;
}

.SearchItem {
    display: flex;
    align-items: baseline;
}

.strInput {
    width: 100%;
    max-width: 100%;
}