.Search {
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    transition: all 0.3s;
    font-weight: 600;
}

.SearchItem {
    display: flex;
    align-items: baseline;
}

.strInput {
    width: 100%;
    max-width: 100%;
    margin-left: 5px;
}

.select {
    margin-left: 5px;
}
