.RecipeCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
}

.recipeName {
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
    background-color: var(--bg-color-inverted);
    color: var(--text-color-inverted);
}

.cardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.separator {
    height: 2px;
    background-color: var(--border-color);
    border-radius: 1px;
}

.backButton {
    width: 100%;
}
