.CreateRecipeForm {
    border: 2px solid var(--green-color);
    border-radius: 0.5em;
    padding: 5px;
    margin: 10px;
    font-weight: 600;
    box-shadow: var(--box-shadow-black);
    align-items: center;
    justify-content: center;
}
