.Button {
    cursor: pointer;
    font-size: var(--font-s);
    padding: 6px;
    border: 1px solid var(--black-color);
}

.Button:active {
    transform: rotate(10deg);
    transition: all 0.3s;
}

.Button:hover {
    opacity: 0.8;
}

.round {
    border-radius: 50%;
    background-color: var(--bg-color-inverted);
    color: var(--bg-color);
}

.rounded {
    border-radius: 15px;
}

.danger {
    background-color: var(--red-color);
}

.green {
    background-color: var(--green-color);
}

.red {
    background-color: var(--red-color);
}

.black {
    background-color: var(--black-color);
}

.white {
    background-color: var(--white-color);
}