.AddNewProductForm {
    border: 1px solid var(--bg-color-inverted);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    align-items: center;

    .button {
        margin: 27px;
        width: 90%;
        background-color: var(--green-color);
        color: var(--white-color);
    }
}

