.ProductDetaildCard {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 80%;
    align-items: center;
}

.inputBlock {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.space {
    margin-right: 10px;
}
.text {
    width: 95%;
}

.input {
    margin-left: auto;
    width: 120px;
}

.result {
    font-weight: bolder;
    border: 2px solid var(--green-color);
    border-radius: 6px;
    padding: 4px;
}