.ProductDetaildCard {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 80vw;
    align-items: center;
    transition: all 0.3s;
}

.inputBlock {
    margin-top: 5px;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.space {
    margin-right: 10px;
}

.text {
    width: 95%;
}

.input {
    margin-left: auto;
    width: 120px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--green-color);
    border-radius: 6px;
    padding: 4px;
}

.deleteBtn {
    margin-left: auto;
    align-self: center;
    justify-self: center;
}