.ProductDetaildCard {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 80vw;
    align-items: center;
}

.inputBlock {
    display: flex;
    justify-content: center;
}

.space {
    margin-right: 10px;
}