.Input {
    min-width: 90px;
    max-width: 200px;
    padding: 0 10px;
    border-radius: 15px;
    font-size: var(--font-s);
}

.Input:focus {
    background-color: var(--green-color);
    color: var(--white-color);
}
.Input:hover {
    border: 2px solid var(--green-color);
}

@media screen and (device-width: 400px) {
    .Input {
        min-width: 50px;
    }
}
