.Input {
    min-width: 90px;
    max-width: 200px;
    padding: 10px;
    border-radius: 15px;
    font-size: var(--font-m);
    transition: all 0.3s;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow-black);
    border: 2px solid transparent;
    background-color: var(--bg-color-inverted);
    color: var(--input-color);
    font-weight: 600;
    appearance: textfield;
}

.Input::placeholder {
    color: var(--bg-color);
    opacity: 0.4;
    font-weight: 400;
    font-style: italic;
}

.Input::-webkit-outer-spin-button,
.Input::-webkit-inner-spin-button {
    display: none;
    appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.Input[type='number']:hover, .Input:focus, .Input:active {
    appearance: textfield;
}

.Input:focus {
    background-color: var(--green-color);
    color: var(--white-color);
    transition: background-color 0.3s, color 0.3s;
}

.Input:hover {
    border: 2px solid var(--green-color);
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .Input {
        min-width: 50px;
        max-width: 150px;
        margin-bottom: 5px;
    }
}
