
.app.dark {
	--bg-color: #333;
	--bg-color-inverted: #ffae69;
	--text-color: #ffae69;
	--text-color-inverted: #333;
	--border-color: #ffae69;
	--bg-active-link-color: #ffae69;
	--link-active-text: #333;
	--link-text: #fff;
	--input-color: #084800;

	// box-shadow
	--box-shadow-black: 4px 4px 12px rgb(0, 94, 92);
	--box-shadow-focus: 4px 8px 16px 5px rgb(1 94 92);
}
