
.app.dark {
	--bg-color: #000;
	--bg-color-inverted: #ffae69;
	--text-color: #ffae69;
	--text-color-inverted: #000;
	--border-color: #ffae69;
	--bg-active-link-color: #ffae69;
	--link-active-text: #000;
	--link-text: #fff;
	// box-shadow
	--box-shadow-black: 0 4px 12px rgb(1, 94, 92);
}
