.app.light {
	// colors
	--bg-color: #f5f5f5;
	--bg-color-inverted: #333;
	--text-color: #333;
	--text-color-inverted: #f5f5f5;
	--border-color: #333;
	--bg-active-link-color: #333;
	--link-active-text: #f5f5f5;
	--link-text: #333;

	// box-shadow
	--box-shadow-black: 0 4px 12px rgb(0 0 0 / 40%);
	--box-shadow-focus: 0 8px 16px rgb(0 0 0 / 40%);
}
