.themeButton {
	margin: 5px;
	border: 2px solid var(--bg-active-link-color);
	border-radius: 40%;
	background-color: var(--bg-active-link-color);
	color: var(--link-active-text);
	height: 70px;
	width: 70px;
	font-family: inherit;
}