.input {
    width: 100px;
    margin: 0;
}

.percent {
    margin-right: 15px;
}

.resultWrapper {
    border: 2px solid var(--green-color);
    border-radius: var(--border-radius);
    padding: 5px;
    margin-top: 30px;
    width: 100%;
}

.resultValue {
    font-weight: 700;
    color: var(--green-color);
}