.ProductDetaildCard {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    align-items: center;
    transition: all 0.3s;
    border: solid 1px var(--border-color);
    border-radius: 6px;
    box-shadow: var(--box-shadow-black);
}

.animationWrapper {
    width: 100%;
}

.inputBlock {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.space {
    margin-right: 10px;
}

.input {
    flex-basis: 40%;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--green-color);
    border-radius: 6px;
    padding: 4px;
    margin-right: 10px;
    transition: all 0.3s;
}

.deleteBtn {
    width: 50%;
    align-self: center;
    justify-self: center;
}

.start {
    opacity: 1;
}
