.Select {
    width: 100%;
    padding: 0 5px;
    border-radius: 15px;
    font-size: var(--font-s);
    font-weight: 600;
}

.Select:active {
    background-color: var(--green-color);
}

.Select::after {
    background-color: var(--green-color);
}

.Select::before {
    background-color: var(--green-color);
}
