.Select {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: var(--font-s);
    font-weight: 600;
    transition: all 0.3s;
    border: 2px solid transparent;
    box-shadow: var(--box-shadow-black);
    background-color: var(--bg-color-inverted);
    color: var(--text-color-inverted);
}

.Select:active .option {
    background: var(--green-color);
    color: var(--white-color);
}

.Select:focus {
    background-color: var(--green-color);
    color: var(--white-color);
    outline: none;
    border-color: var(--green-color);
}

.Select:hover {
    border: 2px solid var(--green-color);
    cursor: pointer;
}


.Select::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: var(--green-color);
    transition: background-color 0.3s;
}

.Select::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: var(--black-color) transparent transparent transparent;
    transition: border-color 0.3s;
}

.Select:active,
.Select:focus::after,
.Select:focus::before {
    background-color: var(--green-color);
}

.Select:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
