.button {
    height: 40px;
    width: 40px;
}

.button:hover {
    opacity: 0.8;
}

.buttonIcon {
    height: 20px;
    width: 20px;
}

.icon {
    fill: var(--bg-color);
    stroke: var(--bg-color-inverted);
}
