.header__navbar_text {
    color: inherit;
    text-decoration: none;
    margin-right: 5px;
}

.header__navbar_link {
    padding: 0 5px;
    color: var(--text-color);
    text-decoration: none;
    border-radius: .5em;
    font-weight: bold;
    //display: flex;
    width: 100%;
    //flex-direction: row;
    //justify-content: space-between;
    //align-items: center;
    transition: all 0.3s;
}
//
//@media screen and (max-width: 900px) {
//    .header__navbar_link {
//        padding: 5px 10px;
//    }
//}
//
//@media screen and (max-width: 500px) {
//    .header__navbar_link {
//        justify-content: space-between;
//        margin-top: 0;
//        margin-bottom: 0;
//    }
//
//    .icon {
//        height: 35px;
//        width: 35px;
//    }
//}
