@import "./temes/dark";
@import "./temes/light";

// constants
:root {
	// colors
	--red-color: #f00;
	--black-color: #000;
	--white-color: #fff;
	--grey-color: #7f7f7f;
	--green-color: #04a96c;
	--yellow-color: #fff200;

	// fonts
	--font-s: 18px;
	--font-m: 24px;
	--font-l: 30px;
	--font-xl: 36px;
}



// base style
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	background: var(--bg-color);
	color: var(--text-color);
	min-height: 100vh;
	font-family: "Andale Mono", serif;
}


.active {
	border: 2px solid var(--border-color);
	background-color: var(--bg-active-link-color);
	color: var(--link-active-text)
}