.header {
	width: 100%;
	margin: 0 auto 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.header__name {
	font-size: 1.5em;
}

.header__navbar {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: wrap;
	gap: 5px;
}

.header__navbar_link {
	width: 220px;
	border-radius: .5em;
	font-weight: bold;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--border-color);
	box-shadow: var(--box-shadow-black)
}

.headerWrapper {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
}

.btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	border-bottom-left-radius: 50%;
}

.icon {
	padding-left: 8px;
	height: 30px;
	width: 30px;
}


@media screen and (max-width: 900px) {
	.header__navbar div {
		flex-basis: 40%;
		padding: 0 10px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-content: center;
	}

	.header__navbar_link {
		width: 200px;
	}
}

@media screen and (max-width: 500px) {
	.header__navbar {
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.header__navbar_link {
		width: 100%;
		flex-basis: 100%;
	}

	.header__navbar div {
		width: 100%;
		flex-basis: 100%;
	}

	.header__name {
		font-size: 1.2em;
	}
}
