@import "./temes/dark";
@import "./temes/light";

:root {
	// colors
	--red-color: #b30000;
	--black-color: #333;
	--white-color: #f5f5f5;
	--grey-color: #999;
	--green-color: #00b894;
	--yellow-color: #fff200;

	// fonts
	--font-s: 12px;
	--font-m: 16px;
	--font-l: 20px;
	--font-xl: 24px;

	// constants
	--header-height: 60px;
	--border-radius: 0.3em;
}



// base style
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	background: var(--bg-color);
	color: var(--text-color);
	min-height: 100vh;
	font-family: "Andale Mono", serif;
}

.active {
	background-color: var(--bg-active-link-color);
	color: var(--link-active-text);
	fill: var(--link-active-text);
}

.inactive {
	background-color: var(--bg-color);
	color: var(--text-color);
	fill: var(--text-color);
}
