@import "./temes/dark";
@import "./temes/light";

:root {
	// colors
	--red-color: #e14134;
	--black-color: #000;
	--white-color: #fff;
	--grey-color: #7f7f7f;
	--green-color: #01918e;
	--yellow-color: #fff200;

	// fonts
	--font-s: 14px;
	--font-m: 18px;
	--font-l: 22px;
	--font-xl: 26px;

	// constants
	--header-height: 60px;
	--border-radius: 0.5em;
}



// base style
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	background: var(--bg-color);
	color: var(--text-color);
	min-height: 100vh;
	font-family: "Andale Mono", serif;
}


.active {
	background-color: var(--bg-active-link-color);
	color: var(--link-active-text);
	fill: var(--link-active-text);
}

.inactive {
	background-color: var(--bg-color);
	color: var(--text-color);
	fill: var(--text-color);
}