//.GroupAnimation {
//    width: 100%;
//    display: flex;
//    justify-content: center;
//    align-content: center;
//}

.item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
//
//.component {
//    width: 100%;
//    display: flex;
//    justify-content: center;
//    align-content: center;
//}