.DeleteItemCard {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-left: auto;
}

.text {
    font-weight: bold;
}

.line {
    border: 1.5px solid var(--bg-color-inverted);
    margin: 5px;
    flex-grow: 10;
}

@media screen and (max-width: 600px) {
    .line {
        display: none;
    }
}